<form [formGroup]="amountForm">
    <p>Montant désiré :</p>
    <input formControlName="amount" type="number" (keyup)="resetOption()">
    <p *ngIf="amountForm.controls.amount.touched && (amountForm.controls.amount.hasError('required') || amountForm.controls.amount.hasError('pattern'))">Erreur de montant</p>
    <div>
        <button [disabled]="!amountForm.valid" (click)="getCards()">Valider</button>
        <div *ngIf="!!ceil.value && !!floor.value">
            <button [disabled]="!amountForm.valid" (click)="setCard(ceil)">{{ceil.value}} €</button>
            <button [disabled]="!amountForm.valid" (click)="setCard(floor)">{{floor.value}} €</button>
        </div>
        <button [disabled]="(option === 'minus' && lastAmount === amountForm.controls.amount.value) || !amountForm.valid" (click)="getCards('minus')">Montant précédent</button>
        <button [disabled]="(option === 'plus' && lastAmount === amountForm.controls.amount.value) || !amountForm.valid" (click)="getCards('plus')">Montant suivant</button>
    </div>
    <div formArrayName="cards">
        <ul>
            <li *ngFor="let card of cards.controls">{{ card.value }}</li>
        </ul>
    </div>
    
    <div *ngIf="serviceError !== ''">
        <span>{{serviceError}}</span>
    </div>
</form>